.Container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(194, 194, 194, 0.705);
}
.Window {
  background-color: white;
  width: fit-content;
  min-width: 30rem;
  margin: 0 auto;
  top: 40vh;
  position: relative;
  border-top-right-radius: 0.5rem;
  &_Title {
    position: relative;
    padding: 1.7rem 1.9rem;

    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
  }
  &_Close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
