.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav_Items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.Nav_Item {
  padding: 2rem;
  a {
    text-decoration: none;
    color: #0b0909;
  }
}
