.News {
  position: relative;
  margin: 0 auto;
  padding: 1.2rem 1rem;
  h3 {
    text-align: center;
  }
  &_List {
    padding-top: 1rem;
  }
  &_Header {
    list-style: none;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
  }
  &_Title {
    width: 30rem;
  }
  &_Description {
    padding-left: 2rem;
  }
}
.AddNew {
  position: absolute;
  top: 2rem;
  right: 2rem;
  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }
}
